<% provide(:title, 'XBox Voterator') %>
<section class="row">
    <div class="small-12 columns">
        <h1>XBox Voterator</h1>
        <p>Prepare to voterate some xbox games!</p>
    </div>
</section>
