<% provide(:title, 'Owned Games') %>
<% provide(:owned_games_active, true) %>

<div class="row">
  <div class="small-12 columns">
    <% if @games.empty? %>
      <h1>We don't own any games yet!</h1>
    <% else %>
      <h1>Owned Games</h1>
    <% end %>
  </div>
</div>

<% if !@games.empty? %>
  <div class="row">
    <div class="small-12 columns">
      <table class="games-table">
        <thead>
          <th>Game Title</th>
        </thead>
        <% @games.each do |game| %>
          <tr>
            <td><%= game.title %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
<% end %>
