<% provide(:title, 'Pending Games') %>
<% provide(:games_active, true) %>

<% if @games.empty? %>
  <div class="row">
    <div class="small-12 columns">
      <h1>No games yet! <% if !user_signed_in? %>Log in to add some!<% end %></h1>
    </div>
  </div>
<% end %>

<% if user_signed_in? %>
  <div class="row">
    <div class="small-12 columns">
      <%= form_tag(games_path, method: :post) do %>
        <div class="row collapse">
          <div class="small-10 columns">
            <%= text_field_tag 'game[title]', '', placeholder: 'Add a New Game Title' %>
          </div>
          <div class="small-2 columns">
            <%= submit_tag 'Add game', class: 'button postfix' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<% unless @games.empty? %>
  <div class="row">
    <div class="small-12 columns">
      <table class="games-table">
        <thead>
          <th>Game Title</th>
          <th>Votes</th>
          <% if user_signed_in? %>
            <th>Vote</th>
            <% if current_user.is_superuser %>
              <th>Mark as Owned</th>
            <% end %>
          <% end %>
        </thead>
        <% @games.each do |game| %>
          <tr>
            <td>
              <%= game.title %>
            </td>
            <td><%= game.votes %></td>
            <% if user_signed_in? %>
              <td><%= link_to 'Vote!', game_path(game.id, game_action: :vote), method: :put %></td>
              <% if current_user.is_superuser %>
                <td><%= link_to 'Mark as Owned', game_path(game.id, game_action: :gotit), method: :put %></td>
              <% end %>
            <% end %>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
<% end %>
