<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <nav data-topbar class="top-bar">
      <ul class="title-area">
        <li class="name">
          <h1><%= link_to 'Xbox Voterator', root_path %></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>

      <section class="top-bar-section">
        <ul class="left">
          <li <% if content_for?(:games_active) %>class="active"<% end %>><%= link_to 'Games', games_path %></li>
          <li <% if content_for?(:owned_games_active) %>class="active"<% end %>><%= link_to 'Owned Games', owned_games_path %></li>
        </ul>
      </section>

      <section class="top-bar-section">
        <ul class="right">
          <li class="has-form">
            <ul class="button-group round">
              <% if !user_signed_in? %>
                <li>
                  <%= link_to 'Sign In', user_session_path, class: 'button secondary' %>
                </li>
                <li>
                  <%= link_to 'Sign Up', new_user_registration_path, class: 'button secondary' %>
                </li>
              <% else %>
                <li>
                  <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'button' %>
                </li>
              <% end %>
            </ul>
          </li>
        </ul>
      </section>
    </nav>
    <div class="add-padding">
      <div class="row">
        <% if notice %>
          <div class="small-12 columns">
            <div data-alert class="alert-box success"><%= notice %><a href="#" class="close">&times;</a></div>
          </div>
        <% end %>
        <% if alert %>
          <div class="small-12 columns">
            <div data-alert class="small-12 columns alert alert-box"> <%= alert %><a href="#" class="close">&times;</a></div>
          </div>
        <% end %>
      </div>
    </div>

    <section class="content">
      <%= yield %>
      <%= javascript_include_tag "application" %>
    </section>
  </body>
</html>
